html{
    padding: 0;
}
body{
    background-image: url("../img/universal-studios.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;}
main {
    margin:  0 auto;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    position: relative;
}
.footer{
    background-color: black;
    color: white;
}

.emtybox{
    display: none;
}

.h2{
    background: rgb(51, 135, 254);
    color: whitesmoke;
    height: 170px;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 50px;
}
table{
    background-color: white;
}
.container{
    position: relative;
}
.profilbild{
    display: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.fixed{
    position: fixed;
    z-index: 2;
    left: 0;
}
.top{
    top:0
}
.left{
    top:40px
}

#newsfeed{
    border:2px black solid;
    border-radius: 1%;
}
#newsfeed > * {
    margin: 20px;
}
.currentprojimg{
    width: 80%;
}

.tab-content > .active{
    position: relative;
}
.logoutpage {
    background-color: black!important;
}

#projectlist{
    display: flex;
}
#projectlist > div {
    padding: 10px!important;

}
.meldung{
    background-color:#5cb85c ;
    position:inherit;
    top:30px;
    width: 100%;
    height: 50px;
    z-index: 1;
    margin: auto 0;
    text-align: center;
}

.loginbtn{
    display: block;
    position: inherit;
    width:30%;
    text-align: center;
    margin: 0 auto;
    top: 50px;
}

@media only screen and (max-width: 600px) {

    .responsive{
        display: flex;
        width: 100%;
    }
    #crewmemberlist > * {
        width: 1px;
        font-size: 10px;
    }
    .editUser,  .delUser, .userbestatigung{
        padding: 1px;
        font-size: 10px;

    }
    .table td, .table th{
        padding:0;
    }
}